body {
  background-color: #e9ebee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.header {
  padding: 12px;
  background-color: #4266b1;

  .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
}

.post {
  margin: 1.5rem auto;
  padding: 1.5rem;
  width: 550px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.015);

  .post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e6e5e5;
    padding-bottom: 1.3rem;

    .post-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .post-info {
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      .name {
        margin-bottom: 5px;
        font-weight: bold;
        color: #848484;
      }

      .time {
        font-size: 0.85em;
        color: #afafaf;
      }
    }
  }
  .post-body {
    padding-top: 1.3rem;

    p {
      line-height: 1.7;
      margin-bottom: 12px;
    }
  }
}
